 .u-section-1 {
  min-height: 777px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 331px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 331px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 336px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-form-1 {
  height: 306px;
  width: 803px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 892px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 969px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 332px;
  }

  .u-section-1 .u-form-1 {
    height: 303px;
    width: 515px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 858px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 768px;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 16px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: -11px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 75px;
    margin-right: 50px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: 60px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-form-1 {
    width: 450px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1130px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 16px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 71px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 71px;
    margin-left: 11px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 508px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }
}
.login-container {
  width: 400px;
  margin: 20px auto;
  border: 3px solid #00000015;
  padding: 30px;
  border-radius: 5px;
  background-color: #ccc;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}