 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('0f9cd43b/5993878/images/DSC05101.jpg');
  background-position: 60.75% 63.94%;
  background-size: 140%;
}

.u-section-1 .u-sheet-1 {
  min-height: 668px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 0px 24px rgba(64,64,64,1);
  margin: 193px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#555c66, #1a1a1a);
  text-transform: uppercase;
  font-weight: 700;
  margin: 294px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 512px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 155px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 87px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 159px;
    margin-left: -35px;
    margin-right: -35px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 159px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('0f9cd43b/5993878/images/_ABB3538.jpg');
  background-position: 50% 72.49%;
}

.u-section-2 .u-sheet-1 {
  min-height: 490px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  margin: 20px 72px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 21px 69px 59px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 600px;
} .u-section-4 {
  border-style: double;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('0f9cd43b/5993878/images/DSC05176.jpg');
  background-position: 100% 8.06%;
  background-size: 110%;
}

.u-section-4 .u-sheet-1 {
  min-height: 647px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1165px;
  margin: 0 -25px 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 657px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 16px rgba(255,255,255,1);
  margin: 42px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 31px auto 0;
  padding: 10px;
}

.u-section-4 .u-text-2 {
  text-shadow: 2px 2px 19px rgba(255,255,255,1);
  font-style: italic;
  margin: 36px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-gallery-1 {
  height: 615px;
  width: 417px;
  margin: 0 auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 75.55%;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 97.51% 4.37%;
    background-size: auto 110%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 714px;
  }

  .u-section-4 .u-gallery-1 {
    width: 396px;
    margin-top: 69px;
    margin-left: -35px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 42px;
    right: auto;
  }

  .u-section-4 .u-carousel-control-2 {
    left: auto;
    right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 22px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-4 .u-gallery-1 {
    height: 518px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-position: 69.69% 0%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1281px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-icon-1 {
    height: 69px;
    width: 69px;
    margin-top: 20px;
    padding: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 606px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 56.38% 8.06%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1526px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 956px;
  }

  .u-section-4 .u-icon-1 {
    height: 81px;
    width: 81px;
    margin-top: 14px;
    padding: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 382px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('0f9cd43b/5993878/images/_ABB3531.jpg');
  background-position: 50% 60.71%;
}

.u-section-5 .u-sheet-1 {
  min-height: 655px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-5 .u-container-layout-1 {
  padding: 6px 0;
}

.u-section-5 .u-gallery-1 {
  height: 602px;
  width: 416px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-back-image-5 {
  object-position: 50% 0%;
}

.u-section-5 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 16px rgba(255,255,255,1);
  margin: 36px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 67px auto 0;
  padding: 10px;
}

.u-section-5 .u-text-2 {
  text-shadow: 2px 2px 16px rgba(255,255,255,1);
  font-style: italic;
  margin: 40px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 540px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-left: 80px;
  }

  .u-section-5 .u-icon-1 {
    height: 72px;
    width: 72px;
    margin-top: 16px;
    margin-right: 194px;
    padding: 15px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-left: 80px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 45px;
    margin-right: 173px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 414px;
  }

  .u-section-5 .u-gallery-1 {
    width: 360px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 145px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 621px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 89px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('0f9cd43b/5993878/images/pizarra.jpg');
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 655px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 57px;
}

.u-section-6 .u-text-1 {
  text-shadow: 2px 2px 16px rgba(255,255,255,1);
  margin: 36px 3px 0;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 68px auto 0;
  padding: 10px;
}

.u-section-6 .u-text-2 {
  text-shadow: 2px 2px 16px rgba(255,255,255,1);
  font-style: italic;
  margin: 40px 3px 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-6 .u-container-layout-2 {
  padding: 6px 0;
}

.u-section-6 .u-gallery-1 {
  height: 602px;
  width: 416px;
  margin: 3px auto 0;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 617px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 0;
    margin-left: -56px;
  }

  .u-section-6 .u-carousel-control-1 {
    left: 68px;
    right: auto;
  }

  .u-section-6 .u-carousel-control-2 {
    left: auto;
    right: 40px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 66px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-6 .u-gallery-1 {
    width: 360px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 621px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 42px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-6 .u-gallery-1 {
    width: 340px;
  }
}

.u-section-7 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('0f9cd43b/5993878/images/2562119f22a21034d6d1a39870c14c5793fbfe4c43723f7ac67d08456af0e806fa53bf85ee2e67e86f61d1b682b9e498b9e59e80ee191bf3ea5120_1280.jpg');
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 655px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 57px;
}

.u-section-7 .u-text-1 {
  text-shadow: 2px 2px 16px rgba(255,255,255,1);
  margin: 36px 3px 0;
}

.u-section-7 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 68px auto 0;
  padding: 10px;
}

.u-section-7 .u-text-2 {
  text-shadow: 2px 2px 16px rgba(255,255,255,1);
  font-style: italic;
  margin: 40px 3px 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-7 .u-container-layout-2 {
  padding: 6px 0;
}

.u-section-7 .u-gallery-1 {
  height: 602px;
  width: 416px;
  margin: 3px auto 0;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 617px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-gallery-1 {
    margin-top: 0;
    margin-left: -56px;
  }

  .u-section-7 .u-carousel-control-1 {
    left: 68px;
    right: auto;
  }

  .u-section-7 .u-carousel-control-2 {
    left: auto;
    right: 40px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 66px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-7 .u-gallery-1 {
    width: 360px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 621px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 42px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
  }
}